/**
 * Sleep charter, main stylesheet
 * Roy Curtis, MIT license, 2017
 */

/*TODO: responsive*/

/* CSS reset */

html, body
{
    width:  100%;
    height: 100%;

    background:  #EEEEEE;
    display:     flex;
    font-family: sans-serif;
    overflow:    hidden;
}

*
{
    box-sizing: border-box;
    margin:     0;
    padding:    0;
}

/* Chart */

.chart
{
    width: 100%;

    display:     flex;
    flex-shrink: 0;
    padding:     1em;
    overflow:    auto;
}

.chart.nojs
{
    font-size: xx-large;
    color:     #888888;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffe2e2+100&0+0,1+100 */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,226,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.chart > .axis
{
    top: 1.25em;

    color:          black;
    display:        flex;
    flex-direction: column-reverse;
    opacity:        0.5;
    pointer-events: none;
    position:       fixed;
    z-index:        500;
}

.chart > .axis > .hour
{
    align-items:   center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    display:       flex;
    flex-grow:     1;
    font-size:     0.75em;
    font-weight:   bold;
}

.chart > .axis > .hour:first-child { border-bottom: none; }

.chart > .alert
{
    top:   0;
    left:  25vw;
    width: 50vw;

    background: rgba(0, 0, 0, 0.75);
    color:      white;
    font-size:  1em;
    padding:    0.5em;
    position:   fixed;
    text-align: center;
    z-index:    999;
}

.chart > .alert.hidden { display: none; }

.chart > .year > label,
.chart > .year > .month > label,
.chart > .year > .month > .day > label
{
    color: #404040;
}

.chart > .year > .month:nth-child(odd) > label,
.chart > .year > .month:nth-child(odd) > .day > label
{
    color: #808080;
}

.chart > .year
{
    display: flex;
}

.chart > .year > label
{
    width: 0;
    
    align-self:  flex-end;
    font-size:   4em;
    line-height: 0.7em;
    z-index:     500;
}

.chart > .year > .month
{
    display: flex;
}

.chart > .year > .month > label
{
    width: 0;

    align-self:     flex-end;
    font-size:      2em;
    padding-bottom: 1.6em;
    z-index:        500;
}

.chart > .year > .month > .day
{
    width: 1em;

    flex-shrink:   0;
    margin-bottom: 7em;
    position:      relative;
    border-top:    0.25em solid #CCCCCC;
    border-bottom: 0.25em solid #CCCCCC;
}

.chart > .year > .month > .day:hover {
    background: #FAFAFA;
}

.chart > .year > .month > .day > label
{
    width: 100%;

    bottom:     -20px;
    font-size:  0.6em;
    position:   absolute;
    text-align: center;
    z-index:    500;
}

.chart > .year > .month > .day > .bar
{
    width:      100%;

    background: #6F8A91;
    position:   absolute;
}

.chart > .year > .month > .day > .bar.selected
{
    background: #9DC3CC;
}